<div class="container">
    <h1 class="text-center">Add Reservation</h1>
    <hr>
    <div class="width">
        <div class="form-group">
            <label for="apartment">Apartment</label>
            <input type="text" id="apartment" class="form-control" [value]="apartment.name" readonly="true">
        </div>
        <div class="form-group">
            <label for="host">Host</label>
            <input type="text" id="host" class="form-control" [value]="apartment.host.username" readonly="true">
        </div>
        <div class="form-group">
            <label for="guest">Guest</label>
            <input type="text" id="guest" class="form-control" [value]="authService.decodedToken.unique_name" readonly="true">
        </div>
        <ng-select [items]="apmDates"
           bindLabel=""
           [(ngModel)]="selectedDate"
           placeholder="Select Start Date">
        </ng-select>
        <div class="form-group">
            <label for="days">Days</label>
            <input type="number" id="days" (change)="totalPrice()" class="form-control" placeholder="Days" [(ngModel)]="days" >
        </div>
        <div>
            <div class="alert alert-info">
                Total price may variate due to:
                <ul>
                    <li>Holidays (+5% per day)</li>
                    <li>Weekends (-10%)</li>
                </ul>  
            </div>
            <h3>Total Price: {{price}}&nbsp;$</h3>
        </div>
        <div class="text-center">
            <button type="button" (click)="reserve()" class="btn btn-success">Reserve</button>
        </div>
    </div>
</div>