.map {
    width: 550px !important;
    height: 400px !important;
}

.blockError{
    border: 5px solid red !important;
}

.blockErrorText{
    color:red;
}

#form{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } 

input[type=file]{
    color: transparent;
}