.images{
    width: 50% !important;
    height: 30% !important;
}

.border{
    border: 2px solid transparent;
}

.bold{
    font-weight: bold;
}

.green{
    color: green;
}

.red{
    color: red;
}

.map {
    width: 500px !important;
    height: 400px !important;
    margin-bottom: 10px !important;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
.inside{
    background-color: #90B494;
    padding: 10px;
    margin-bottom: 5px;
}

.red{
    color: red;
}

.green{
    color:green;
}
  