.jumbotron{
    background-image: url("../../assets/bg.jpg") !important;
    background-size: cover !important;
    max-width: 60%;
    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}