<div class="container">
  <div class="jumbotron">
    <h1>Hello!</h1>
    <br>
    <h2>Explore World!</h2>
    <br>
    <h3>More than 1000 places to explore!</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Getting started</h2>
        <p>
            “Life is either a daring adventure or nothing at all.”
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
      <h2>Adventure</h2>
        <p>
            “Better to see something once than hear about it a thousand times”
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
      <h2>Freedom</h2>
      <p>
          “Don’t listen to what they say. Go see.”
      </p>
      <p></p>
    </div>
  </div>
</div>
